[submodule "SolutionShelves/vendor/spdlog"]
	path = SolutionShelves/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SolutionShelves/vendor/GLFW"]
	path = SolutionShelves/vendor/GLFW
	url = https://github.com/AlexSierraTI/glfw
[submodule "SolutionShelves/vendor/ImGui"]
	path = SolutionShelves/vendor/ImGui
	url = https://github.com/AlexSierraTI/imgui
[submodule "SolutionShelves/vendor/glm"]
	path = SolutionShelves/vendor/glm
	url = https://github.com/AlexSierraTI/glm
[submodule "SolutionShelves/vendor/freetype-gl"]
	path = SolutionShelves/vendor/freetype-gl
	url = https://github.com/AlexSierraTI/freetype-gl
