[submodule "SolutionShelves/vendor/spdlog"]
	path = SolutionShelves/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SolutionShelves/vendor/GLFW"]
	path = SolutionShelves/vendor/GLFW
	url = https://github.com/AlexSierraTI/glfw
[submodule "SolutionShelves/vendor/ImGui"]
	path = SolutionShelves/vendor/ImGui
	url = https://github.com/AlexSierraTI/imgui
[submodule "SolutionShelves/vendor/glm"]
	path = SolutionShelves/vendor/glm
	url = https://github.com/AlexSierraTI/glm
[submodule "SolutionShelves/vendor/yaml-cpp"]
	path = SolutionShelves/vendor/yaml-cpp
	url = https://github.com/AlexSierraTI/yaml-cpp
[submodule "SolutionShelves/vendor/ImGuizmo"]
	path = SolutionShelves/vendor/ImGuizmo
	url = https://github.com/AlexSierraTI/ImGuizmo
[submodule "SolutionShelves/vendor/Box2D"]
	path = SolutionShelves/vendor/Box2D
	url = https://github.com/AlexSierraTI/box2d
